devenv/
screenshots/
*.pyc
*.pyo
*.swp
.ropeproject/
*.egg-info/
*.egg
.idea/
.tox/
*.iml
.coverage
.tmp
/tmp
*.log
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
__pycache__
*.log
*.json
*.xml
